.breadcrumb {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #151515;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 0.75rem;
    white-space: pre;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
}

.breadcrumb-va {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.bc-separator{
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    border:1px solid #888;
    background-color: #888;
    width:3px;
    height:3px;
    margin-left: 5px;
    margin-right: 5px;
}

.bc-statuslight {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    border:1px solid #444;
    background-color: #444;
    width:5px;
    height:5px;
    margin-right: 5px;
}

.bc-status-ok {
    border:1px solid #0a0;
    background-color: #0a0;
}

.bc-status-warn {
    border:1px solid #990;
    background-color: #990;
}

.bc-status-err {
    border:1px solid #900;
    background-color: #900;
}

.bc-text-ok {
    color: #afa;
}

.bc-text-warn {
    color: #ffa;
}

.bc-text-err {
    color: #f44;
}

@media only screen and (max-width: 450px) {
    .breadcrumb {
        width: 100%;
        justify-content: center;
    }
}