

.spot-overlay {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0,0,0,1) 1%, rgba(0,0,0,0.95) 10%, rgba(0,0,0,0.75) 35%, rgba(0, 0, 0, 0) 60%);
    width: 200%;
    height: 80%;
    position: fixed;
    top: 60%;
    left: -50%;
    z-index: -2;
}


.big-text-warn {
    color: #f55;
    font-weight: bold;
    font-size: 1.25em;
}

.start-hidden {
    opacity: 0;
}

.start-out {
    top: -250px;
}

.spot-overlay-out {
    opacity: 1;
    animation: fadeOut 1s forwards;
    animation-delay: 0.1s;
}

.overlay-row-out {
    opacity: 1;
    animation: fadeOut 1s forwards;
}

.spot-overlay-in {
    animation: fadeIn 1s forwards;
}

.overlay-row-in {
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
}

.generic-fade-in {
    animation: fadeIn 1s forwards;
}

.generic-fade-out {
    opacity: 1;
    animation: fadeOut 1s forwards;
}


.bar-slide-in {
    top: -250px;
    animation: slideIn 1s forwards;
}

.bar-slide-out {
    top: 0px;
    animation: slideOut 1s forwards;
}

.target-title-fade-in {
    animation: fadeIn 1s forwards;
    animation-delay: 0.5s;
}

.target-spot-fade-in {
    animation: fadeIn 1s forwards;
}

.target-spot-fade-out {
    opacity: 1;
    animation: fadeOut 2s forwards;
    animation-delay: 0.5s;
}

.target-title-fade-out {
    opacity: 1;
    animation: fadeOut 1.5s forwards;
}

.stream-target-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 30px;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    padding-top: 10px;
    padding: 10px;
}

.stream-target-desc-title {
    font-size: 1.75em;
    font-family: 'Trebuchet MS', sans-serif;
}

.stream-target-desc-subtitle {
    color: #ccc;
    font-size: 1.25em;
    font-family: 'Trebuchet MS', sans-serif;
}

.target-subtitle-fade-in {
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
}

.target-subtitle-fade-out {
    opacity: 1;
    animation: fadeOut 1.5s forwards;
}


@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    to {
        top: 0px;
    }
}

@keyframes slideOut {
    to {
        top: -250px;
    }
}


.overlay-position-bottom {
    height: 100%;
    width: 100%;
    justify-content: end;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 1em;
}

.overlay-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.overlay-row-element {
    margin: 10px;
    font-size: 1.5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.overlay-row-group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    flex-grow: 1;
}


.overlay-spot-timer-above-label {
    color: #bbb;
    text-align: center;
    font-size: 1.25em;
    white-space: pre;
}

.overlay-spot-timer-main {
    font-weight: bold;
    font-size: 2.25em;
    text-align: center;
}

.overlay-spot-timer-paused {
    animation: pulse-pause-stream 3s infinite;
}

@keyframes pulse-pause-stream {
    0%, 100% {
      color: #dddd00;
    }
    50% {
      color:#888800;
    }
  }

.stream-passive-timer-main {
    font-size: 2.5em;
    margin-left: 25px;
    margin-right: 25px;
}

.stream-passive-timer-sep {
  height: 3px;
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  width: 0%;
  left: 50%;
}

.stream-passive-timer-sep-in {
    animation: growInSep 1s forwards;
}

.stream-passive-timer-sep-out {
    width: 100%;
    left: 0%;
    padding-left: 10px;
    padding-right: 10px;
    animation: growOutSep 1s forwards;
    animation-delay: 0.25s;
}

.svg-trace-line {
    fill: #fff;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.overlay-tilt-wrapper {
    width: 100px;
    height: 100px;
    position: relative;
}

.overlay-tilt-hind {
    position: absolute;
    height: 1px;
    width: 0%;
    top: 50%;
    z-index: -1;
    left: 0%;
    background-color: #888;
}

.overlay-tilt-vind {
  position: absolute;
  height: 0%;
  width: 1px;
  top: 0%;
  z-index: -1;
  left: 50%;
  border-left: 1px dotted #aaa;
}

.fade-in-delay {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 2s;
}

.no-fade-out {
    opacity: 1;
}

.tilt-hind-in {
    animation: drawin-h 2s forwards;
    animation-delay: 1s;
}

.tilt-vind-in {
    animation: drawin-v 1s forwards;
    animation-delay: 1s;
}

.tilt-hind-out {
    width: 100%;
    animation: fadeOut 1s forwards;
}

.tilt-vind-out {
    height: 50%;
    animation: fadeOut 1s forwards;
}

@keyframes drawin-v {
    to {
        height: 50%;
    }
}

@keyframes drawin-h {
    to {
        width: 100%;
    }
}


.svg-small {
    width: 100px;
    height: 100px;
}

@keyframes growInSep {
    to {
        width: 100%;
        left: 0%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@keyframes growOutSep {
    to {
        width: 0%;
        left: 50%;
        padding-left: 0px;
        padding-right: 0px;
    }
}



.stream-passive-timer-name {
    font-size: 1.75em;
    margin-left: 25px;
    margin-right: 25px;
}

.stream-passive-timer {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
}

.stream-passive-timer-wrapper {
    position: absolute;
    margin: 50px;
    display: flex;
    flex-flow: column nowrap;
}

.stream-passive-timer-hold {
    background-color: #ccc;
    padding: 5px;
    color: black;
    height: 0%;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5em;
}

.stream-hide {
    display: none;
}

.stream-passive-timer-hold-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}


.stream-passive-timer-m-text {
    color: #a6a6a6;
}


.overlay-row-telem-group {
    display: flex;
    flex-flow: row nowrap;
}

.overlay-row-telem-title {
    display: flex;
    margin-right: 15px;
    flex-flow: column nowrap;
}

.overlay-row-telem-title-name {
    color: white;
    font-weight: bold;
    font-size: 1.25em;
}

.overlay-row-telem-title-qty {
    color: #ccc;
    font-size: 0.9em;
}

.overlay-v-align {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.overlay-b-align {
    display: flex;
    height:100%;
    flex-flow: column nowrap;
    justify-content: end;
}

.stream-target-dim-overlay {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 0%, rgba(0,0,0,1) 1%, rgba(0,0,0,0.95) 10%, rgba(0,0,0,0.75) 35%, rgba(0, 0, 0, 0) 60%);
    width: 150%;
    height: 75%;
    position: fixed;
    top: 65%;
    left: -75%;
    z-index: -2;
}

.overlay-row-telem-main {
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    white-space: pre;
}

.overlay-row-group-disabled * {
    color: #666;
}

.overlay-row-telem-unit {
    color: #aaa;
    font-size: 0.75;
    margin-left: 5px;
    font-weight: bold;
}



.force-hide {
    opacity: 0;
}



.livestream-sequencer-queue {
    display: flex;
    flex-flow: row nowrap;
    background-color: #242424;
    justify-content: space-between;
}

.livestream-sequencer-time {
    background-color: #353535;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
}


.livestream-sequencer-desc {
    color: #aaa;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.livestream-sequencer-title {
    font-weight: bold;
    background-color: #353535;
    margin-right: 20px;
    color: #fff;
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2em;
}

.row-nowrap-ls {
    display: flex;
    flex-flow: row nowrap;
}

.livestream-sequencer-next .livestream-sequencer-queue {
    background-color: #656525;
}


.livestream-sequencer-next .livestream-sequencer-title {
    background-color: #959565;
}

.livestream-sequencer-next .livestream-sequencer-time {
    background-color: #959565;
}

.stream-timeline-wrapper {
    position: absolute;
    right: 0;
    margin: 50px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #113;
    border-radius: 10px;
    padding-top: 10px;
}

.stream-timeline-footer {
    font-size: 0.7em;
    font-style: italic;
    background-color: #112;
    text-align: center;
    padding:5px;
    border-radius: 0px 0px 10px 10px;
}

.stream-timeline {
    display: flex;
    flex-flow: column nowrap;
}

.stream-timeline-title {
    text-align: center;
}

.stream-timeline-title-t {
    font-size: 0.8em;
}

.stream-timeline-title-b {
    font-size: 1.35em;
    font-weight: bold;
}

.stream-timeline-holder {
    display: flex;
    flex-flow: column nowrap;
}

.stream-timeline-elem {
    display: flex;
    flex-flow: row nowrap;
    background-color: #225;
}

.stream-timeline-elem-T {
    padding-left: 10px;
    background-color: #337;
    padding-right: 10px;
    font-weight: bold;
    font-size: 0.9em;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
    padding-top: 3px;
    padding-bottom: 3px;
}

.stream-timeline-elem-desc {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 0.9em;
    padding-top: 3px;
    padding-bottom: 3px;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
}

#generic-stream-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
}

.generic-start-soon {
    font-size: 0.5em;
    font-weight: normal;
    color: #ccc;
}


.alt-text-no-gps-lock {
    color: #ffb8b8;
}

.stream-idle-title {
    font-size: 5em;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fa0;
    padding-top: 20px;
}



.stream-idle-timer {
    font-size: 4em;
    font-weight: bold;
}

.stream-pre-bg {
    background-image: url("/idle-team.jpg");
    background-size:cover;
    width: 100%;
    height: 100%;
}

.stream-idle-bg {
    background-image: url("/idle-landscape.jpg");
    background-size:cover;
    width: 100%;
    height: 100%;
}

.generic-stream-fullscreen-wrapper {
    width: 100%;
    height: 100%;
}

.generic-stream-center {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;

    font-family: 'Trebuchet MS', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}

#nightSky {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.generic-stream-block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    text-align: center;

    padding: 20px;
    backdrop-filter: blur(3px) brightness(0.9);
    border-radius: 10px;
}


.sponsor-rotator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  position:relative;
  width:100%;
  background-color: #777;
}


.sponsor-header {
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0;
  display: flex;
  margin-right: 20px;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.sponsor-n {
    font-size: 2rem;
    font-weight: lighter;
    color: #ddd;
    margin: 0;
    display: flex;
    margin-left: 20px;
    flex-flow: column nowrap;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.funfact-center {
    text-align: center;
}

.sponsor-box {
  width: 400px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 15px;
}

.sponsor-box img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.stream-idle-text-wrap {
    background-color: rgba(0,0,0,0.5);
    width: 45%;
    backdrop-filter: blur(10px);
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.stream-pre-text-wrap {
    background-color: rgba(0,0,0,0.5);
    width: 30%;
    backdrop-filter: blur(10px);
    height: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.stream-idle-subtext {
    position: relative;
    top: -20px;
    font-size: 2em;
}

.stream-idle-footer {
    padding-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.stream-idle-footer {
    padding-bottom: 20px;
}

.stream-idle-footer-t {
    font-size: 3em;
    color: #ccc;
    font-weight: bold;
}

.stream-idle-footer-b {
    font-size: 1.25em;
    color: #888;
    font-weight: bold;
}

.stream-idle-funfact-container {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.stream-idle-funfact-facttitle {
    font-size: 1em;

}

.stream-idle-funfact-fact {
    font-weight: normal;
    font-size: 0.75em;
    background-color: rgba(0, 0, 0, 0.35);
    margin-right: 30px;
    height: 4em;
    margin-left: 30px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.fact-out {
    opacity: 1;
    animation: fadeOut 2s forwards;
}

.fact-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 0.1s;
}

.stream-idle-mediahandle-wrap {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: normal;
}

.stream-idle-goodbye-text {
    font-weight: normal;
    margin-bottom: 25px;
    width: 100%;
}

.fact-single-large {
    font-size: 1.5em;
}

.fact-title-single-large {
    font-size: 1.75em;
    margin-top: 25px;
}

.stream-idle-mediahandle {
    margin-right: 15px;
    font-weight: bold;
    color: #ffaa00;
}